@model FbApp.Dtos.GroupModel

@{
    ViewBag.Title = "Add users";
}

<h2 class="text-center">@ViewData["Title"] to model.Name</h2>
<div class="row">

    <div class="col-md-4 col-md-offset-4">
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <label>
                Pick the users you want to add to this group:
            </label>
            @Html.DropDownListFor(m => m.SelectedUserIds, new SelectList(Model.UsersForDD, "Value", "Text"), "Select Users", new { @class = "form-control", @multiple = "multiple" })
            <br>
            <div class="col-md-offset-2">
                <button type="submit" class="btn btn-primary col-md-offset-0">Submit</button>
                <button formaction='javascript:history.go(-1)' class="btn btn-default col-md-offset-0">Cancel</button>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

