
@model IEnumerable<FbApp.Dtos.UserListModel>
@using FbApp.Utilities

@{
    ViewData["Title"] = "Search Users";
}
<h3 class="text-center">@ViewData["Title"]</h3>
<div class="row">
    <br />
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form method="get">
                    <div class="form-group">
                        <strong>Find by Name or Username:</strong>
                        <input type="text" name="@GlobalConstants.SearchTerm" value="@ViewData[GlobalConstants.SearchTerm]" class="form-control" />
                        <br />
                        <div>
                            <button type="submit" class="btn btn-primary">Search</button> |
                            <a href="/Users/Search">Back to Full List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr />
        @if (Model.Any())
        {
            foreach (var user in Model)
            {

                <div class="well">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="@user.ProfilePicture.ToRenderablePictureString()" class="img-circle pull-left" height="55" width="55" alt="Avatar">
                        </div>
                        <div class="col-sm-6 text-left">
                            <div class="row">
                                <a href="/Users/AccountDetails/@user.Id" ><strong>@user.FullName</strong></a>
                            </div>
                            <div class="row"> Age: @user.Age
                            </div>
                        </div>               
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/Users/Search/@ViewData[GlobalConstants.SearchTerm]" 
                       class="btn btn-default"> Previous
                    </a>
                    <a href="/Users/Search/@ViewData[GlobalConstants.SearchTerm]" 
                       class="btn btn-default" > Next
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="well">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2>There are no user corresponding to your search!</h2>
                    </div>
                </div>
            </div>
        }
    </div>
</div>